.tasklist {
	padding-top: 2em;
}

.task.done label{
	text-decoration: line-through;
}

.task.todo {
	background-color: lightyellow;
}

.task.done {
	background-color:  lightgreen;
}

.description {
	color:grey;
	font-style: italic;
}